__pycache__/
*.py[cod]
*$py.class

*.so

*.log
*.pot
*.pyc
*.pyo
local_settings.py

.env
.env.*

Pipfile.lock

poetry.lock

.vscode/
.mypy_cache/
.dmypy.json
dmypy.json

.pytest_cache/

htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

junit*.xml

*.mo

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.tox/
.nox/
.coverage

docs/_build/

*.manifest
*.spec

celerybeat-schedule
celerybeat.pid

*.log
*.pot
*.sqlite3

node_modules/
npm-debug.log
yarn-error.log

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

*.swp
*.swo
