{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produto</title>
    {% bootstrap_css %}
  </head>
  <body>
    <h1>Lista de Produtos</h1>
    {% if messages %} {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} fade show auto-dismiss"
      role="alert"
    >
      {{ message }}
    </div>
    {% endfor %} {% endif %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Atualizar</th>
          <th scope="col">Apagar</th>
        </tr>
      </thead>
      <tbody>
        {% for p in produtos %}
        <tr>
          <th scope="row">{{ p.id }}</th>
          <td>{{ p.nome }}</td>
          <td>{{ p.preco }}</td>
          <td>{{ p.quantidade }}</td>
          <td>
            <form action="{% url 'url_atualizar_produtos' p.id %}" method="get">
              <input
                type="submit"
                name="btnAtualizar"
                class="btn btn-primary"
                value="Atualizar"
              />
            </form>
          </td>
          <td>
            <form action="{% url 'url_apagar_produto' p.id %}" method="post">
              {% csrf_token %}
              <input
                type="submit"
                name="btnApagar"
                class="btn btn-danger"
                value="Apagar"
              />
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'url_sair' %}" class="btn btn-danger">Sair</a>

    <a href="{% url 'url_cadastro_produto' %}" class="btn btn-success mt-3">
      Novo Produto
    </a>

    <a href="{% url 'url_cadastro_cliente' %}" class="btn btn-warning mt-3">
      Cadastrar Cliente
    </a>

    <a href="{% url 'url_vendas' %}" class="btn btn-success mt-3">
      Venda de produtos
    </a>
    <script>
      setTimeout(function () {
        const alerts = document.querySelectorAll(".auto-dismiss");
        alerts.forEach(function (alert) {
          alert.classList.remove("show");
          alert.classList.add("fade");
          setTimeout(() => alert.remove(), 500);
        });
      }, 3000);
    </script>
  </body>
</html>
